@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

body{
    background: rgb(248, 248, 248);
    margin: 0;
    font-family: "Ubuntu";
}

nav{
    background: white;
}

.menu a:hover{
    border-bottom: 2px solid blue ;
}

.footernav a:hover{
    color: grey;
}

.active a{
    border-bottom: 2px solid blue ;
}